In [ ]:
import pandas as pd
import json
from pprint import pprint
with open('/home/podkova/IDE/Data Science Course/PY_16_Выгрузка данных/data/recipes.json') as f:
    recipes = json.load(f)


cuisine_types = set()
for dish in recipes:
    cuisine_types.add(dish['cuisine'])
cuisine_count = {cuisine: 0 for cuisine in cuisine_types}
for dish in recipes:
    cuisine_count[dish['cuisine']] += 1
cuisine_count = dict(sorted(cuisine_count.items(), key=lambda item: item[1], reverse=True))

df = pd.DataFrame(recipes)
all_ingredients = list(set(ingredient for ingredients in df["ingredients"] for ingredient in ingredients))
presence_matrix = pd.DataFrame(
    {ingredient: df["ingredients"].apply(lambda x: 1 if ingredient in x else 0) for ingredient in all_ingredients}
)
df = pd.concat([df, presence_matrix], axis=1)
df['ingredients'] = df['ingredients'].apply(len)
display(df.head())

,id,cuisine,ingredients,boneless pork loin,cheddar cheese,roasted salted cashews,steamed rice,orange juice concentrate,fennel seeds,beef rib short,...,fresh leav spinach,cremini mushrooms,phyllo,black olives,wheat bran,naan,sake,rice wine,bacon,chopped onion
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0