In [ ]:
import pandas as pd
bike_data = pd.read_csv('https://raw.githubusercontent.com/podkovko/ds_course/refs/heads/main/Data%20Science%20Course/PY_11_%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5%20%D0%BF%D1%80%D0%B8%D1%91%D0%BC%D1%8B%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D1%81%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8%20%D0%B2%20Pandas/data/citibike-tripdata.csv')
bike_df = bike_data.copy()
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
bike_df['age'] = bike_df['starttime'].dt.year - bike_df['birth year']
bike_df['duration'] = bike_df['stoptime'] - bike_df['starttime']
bike_df['weekend'] = bike_df['starttime'].dt.dayofweek
def weekend_highlight(day):
    if day == 5 or day == 6:
        day = 1
    else:
        day = 0
    return day
bike_df['weekend'] = bike_df['weekend'].apply(weekend_highlight)
bike_df['time of day'] = bike_df['starttime'].dt.hour
def what_time(hour):
    if 0 <= hour < 6:
        time_of_day = 'night'
    elif 6 <= hour < 12:
        time_of_day = 'morning'
    elif 12 <= hour < 18:
        time_of_day = 'day'
    elif 18 <= hour < 24:
        time_of_day = 'evening'
    return time_of_day
bike_df['time of day'] = bike_df['time of day'].apply(what_time)      
ans = bike_df['time of day'].value_counts()['']
display(time_of_day)


bike_df = bike_df.drop(['start station id', 'end station id'], axis = 1)
display(bike_df.tail())
bike_df.info()

time of day
day        133070
morning     81698
evening     75472
night        9760
Name: count, dtype: int64

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,duration,weekend,time of day
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1,52,0 days 00:03:45.051000,0,evening

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  age                      300000 non-null  int64
 13  duration                 300000 non-null  timedelta64[ns]
 14  weekend                  300000 non-null  int64
 15  time of day              300000 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(5), object(4), timedelta64[ns](1)
memory usage: 36.6+ MB