In [23]:
import pandas as pd
melb_data = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_12 Продвинутые методы работы с данными в Pandas/data/melb_data_fe.csv', sep=',')
melb_df = melb_data.copy()
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

movies_data = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_12 Продвинутые методы работы с данными в Pandas/data/movies.csv')
movies = movies_data.copy()

rating_data_1 = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_12 Продвинутые методы работы с данными в Pandas/data/ratings1.csv')
rating_df_1 = rating_data_1.copy()

rating_data_2 = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_12 Продвинутые методы работы с данными в Pandas/data/ratings2.csv')
rating_df_2 = rating_data_2.copy()

ratings = pd.concat([rating_df_1, rating_df_2], ignore_index=True)
ratings = ratings.drop_duplicates(ignore_index=True)

dates_data = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_12 Продвинутые методы работы с данными в Pandas/data/dates.csv')
dates = dates_data.copy()
dates['date'] = pd.to_datetime(dates['date'])

ratings_dates = pd.concat([ratings, dates], axis=1)

merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)

movies.info()

display(merged)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller