In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sber_data = pd.read_csv('/home/podkova/IDE/Data Science Course/PY_14_Очистка данных/data/sber_data.csv')

cols_null_percent = sber_data.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent > 0].sort_values(ascending=False)
display(cols_with_null)

display(sber_data.head())
display(sber_data.info())
display(sber_data.describe())

hospital_beds_raion          47.392603
preschool_quota              21.948738
school_quota                 21.938893
life_sq                      20.947786
floor                         0.548062
metro_min_walk                0.082045
metro_km_walk                 0.082045
railroad_station_walk_km      0.082045
railroad_station_walk_min     0.082045
dtype: float64

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,mosque_count_1000,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,0,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,0,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,0,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,0,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,0,16331452

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     30471 non-null  int64
 1   full_sq                                30471 non-null  int64
 2   life_sq                                24088 non-null  float64
 3   floor                                  30304 non-null  float64
 4   sub_area                               30471 non-null  object
 5   preschool_quota                        23783 non-null  float64
 6   preschool_education_centers_raion      30471 non-null  int64
 7   school_quota                           23786 non-null  float64
 8   school_education_centers_raion         30471 non-null  int64
 9   school_education_centers_top_20_raion  30471 non-null  int64
 10  hospital_beds_raion                    16030 non-null  float64
 11  healthcare_centers_raion               30471 non-null  int64
 12  university_top_20_raion                30471 non-null  int64
 13  sport_objects_raion                    30471 non-null  int64
 14  additional_education_raion             30471 non-null  int64
 15  culture_objects_top_25_raion           30471 non-null  int64
 16  shopping_centers_raion                 30471 non-null  int64
 17  office_raion                           30471 non-null  int64
 18  oil_chemistry_raion                    30471 non-null  object
 19  railroad_terminal_raion                30471 non-null  object
 20  nuclear_reactor_raion                  30471 non-null  object
 21  metro_min_avto                         30471 non-null  float64
 22  metro_km_avto                          30471 non-null  float64
 23  metro_min_walk                         30446 non-null  float64
 24  metro_km_walk                          30446 non-null  float64
 25  kindergarten_km                        30471 non-null  float64
 26  school_km                              30471 non-null  float64
 27  park_km                                30471 non-null  float64
 28  green_zone_km                          30471 non-null  float64
 29  industrial_km                          30471 non-null  float64
 30  railroad_station_walk_km               30446 non-null  float64
 31  railroad_station_walk_min              30446 non-null  float64
 32  public_transport_station_km            30471 non-null  float64
 33  public_transport_station_min_walk      30471 non-null  float64
 34  mkad_km                                30471 non-null  float64
 35  ttk_km                                 30471 non-null  float64
 36  sadovoe_km                             30471 non-null  float64
 37  bulvar_ring_km                         30471 non-null  float64
 38  kremlin_km                             30471 non-null  float64
 39  big_road1_1line                        30471 non-null  object
 40  big_market_km                          30471 non-null  float64
 41  market_shop_km                         30471 non-null  float64
 42  fitness_km                             30471 non-null  float64
 43  swim_pool_km                           30471 non-null  float64
 44  ice_rink_km                            30471 non-null  float64
 45  stadium_km                             30471 non-null  float64
 46  basketball_km                          30471 non-null  float64
 47  hospice_morgue_km                      30471 non-null  float64
 48  university_km                          30471 non-null  float64
 49  workplaces_km                          30471 non-null  float64
 50  shopping_centers_km                    30471 non-null  float64
 51  office_km                              30471 non-null  float64
 52  additional_education_km                30471 non-null  float64
 53  preschool_km                           30471 non-null  float64
 54  big_church_km                          30471 non-null  float64
 55  church_synagogue_km                    30471 non-null  float64
 56  theater_km                             30471 non-null  float64
 57  museum_km                              30471 non-null  float64
 58  ecology                                30471 non-null  object
 59  mosque_count_1000                      30471 non-null  int64
 60  price_doc                              30471 non-null  int64
dtypes: float64(41), int64(14), object(6)
memory usage: 14.2+ MB

None

,id,full_sq,life_sq,floor,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,mosque_count_1000,price_doc
count,30471.000000,30471.000000,24088.000000,30304.000000,23783.000000,30471.000000,23786.000000,30471.000000,30471.000000,16030.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,34.403271,7.670803,3271.272464,4.065111,8324.970739,4.705031,0.109678,1190.738677,...,1.505808,2.010973,1.328488,1.345235,2.330047,0.972014,9.638074,7.063236,0.019166,7.123035e+06
std,8796.501536,38.031487,52.285733,5.319989,2169.759592,2.993795,4289.734174,3.445105,0.333328,1057.015001,...,2.253759,2.306446,1.526219,3.053600,2.986937,0.748876,7.112284,5.702807,0.137110,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1012.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.004072,0.000000,0.026788,0.007903,0.000000,1.000000e+05
25%,7620.500000,38.000000,20.000000,3.000000,1874.000000,2.000000,5782.000000,2.000000,0.000000,520.000000,...,0.483758,0.555231,0.474842,0.285124,0.860469,0.532480,4.225254,2.879357,0.000000,4.740002e+06
50%,15238.000000,49.000000,30.000000,6.500000,2854.000000,4.000000,7377.000000,5.000000,0.000000,990.000000,...,0.839647,1.052999,0.899034,0.493048,1.490794,0.860037,8.612007,5.643495,0.000000,6.274411e+06
75%,22855.500000,63.000000,43.000000,11.000000,4050.000000,6.000000,9891.000000,7.000000,0.000000,1786.000000,...,1.549517,3.046687,1.571062,0.936324,2.922264,1.248480,13.459593,10.328587,0.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,11926.000000,13.000000,24750.000000,14.000000,2.000000,4849.000000,...,26.259543,18.958933,24.268209,47.394706,45.669060,15.615728,87.600690,59.203148,1.000000,1.111111e+08